.gradle
build/
out/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

src/main/resources/static/
src/main/resources/templates/
/kodilla-testing/src/main/java/com/kodilla/testing/shape/
/kodilla-testing/src/test/java/com/kodilla/testing/shape/
/kodilla-testing/src/main/java/com/kodilla/testing/collection/
/kodilla-testing/src/test/java/com/kodilla/testing/collection/CollectionTestSuite.java
